@font-face {
  font-family: "Sue Ellen Francisco";
  src: url("./assets/fonts/SueEllenFrancisco-Regular.ttf"); /* IE9 Compat Modes */
  src: url("./assets/fonts/SueEllenFrancisco-Regular.ttf?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/SueEllenFrancisco-Regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: "Source Serif Pro Regular";
  src: url("./assets/fonts/SourceSerifPro-Regular.ttf"); /* IE9 Compat Modes */
  src: url("./assets/fonts/SourceSerifPro-Regular.ttf?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/SourceSerifPro-Regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: "Vidaloka Regular";
  src: url("./assets/fonts/Vidaloka-Regular.ttf"); /* IE9 Compat Modes */
  src: url("./assets/fonts/Vidaloka-Regular.ttf?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/Vidaloka-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: "Chomsky";
  src: url("./assets/fonts/Chomsky.ttf"); /* IE9 Compat Modes */
  src: url("./assets/fonts/Chomsky.ttf?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/Chomsky.ttf") format("truetype"); /* Safari, Android, iOS */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
.root {
  margin: 0;
  padding: 0;
  background-color: #222222;
  color: #ffffff;
}

p {
  margin-bottom: 1em;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 100;
}

.board {
  width: 100%;
  height: 100%;
  /* background-image: url(assets/img/Chequerboard.svg); */
  background-image: url(assets/img/cork_1000x1000.jpg);
  /* background-size: 100px auto; */
  background-repeat: repeat;
}

.origin {
  width: 100px;
  height: 100px;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  border: 4px white solid;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #22222299;
}

.react-zoomable-ui-inner-div {
  cursor: grab;
}

.active-item {
  border: 1px solid red;
  box-sizing: content-box;
}

.rect {
  cursor: move;
  user-select: none;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-contain {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-repeat {
  background-repeat: repeat;
  background-size: auto;
}

.order-controls {
  position: absolute;
  bottom: -30px;
  width: 100%;
}
